allow system_app sysfs_thermal_writable:file rw_file_perms;
allow system_app sysfs_coretemp:file rw_file_perms;
allow system_app sysfs_touchscreen:file rw_file_perms;
# TODO This looks dubious
allow system_app self:netlink_kobject_uevent_socket {create read bind connect getopt setopt shutdown};
allow system_app servicemanager:service_manager list;
allow system_app { service_manager_type -netd_service }:service_manager find;
dontaudit system_app netd_service:service_manager find;

